[submodule "ffmpeg-ios-static-libs"]
	path = ffmpeg-ios-static-libs
	url = https://github.com/jlopez/ffmpeg-ios-static-libs.git
[submodule "FFmpeg-iOS-build-script"]
	path = FFmpeg-iOS-build-script
	url = https://github.com/jlopez/FFmpeg-iOS-build-script
